table {
  table-layout: fixed;
  width: 95%;
  border-collapse: collapse;
  border: 0.5rem ridge #444444;
  margin: 1rem auto;
}
th,
td {
  color: black;
  padding: 0.3rem;
  font-size: 0.9rem;
}
thead th {
  padding-bottom: 0.5rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.table-title {
  width: 20rem;
  margin: 1rem auto;
  text-align: center;
  color: #444444;
  font-size: 2rem;
  font-weight: bold;
  background-color: #d5db99;
  border: 0.5rem ridge #d5db99;
}

.table-col1 {
  background-color: #6c8312;
}
.table-col2 {
  background-color: #6c83124d;
}

table tbody:nth-child(odd) {
  background-color: #eaecce;
  border-bottom: solid 0.05rem #9fa09b;
}
table tbody:nth-child(even) {
  background-color: #daddc8;
  border-bottom: solid 0.05rem #9fa09b;
}

table tbody:hover {
  background-color: #b4d179;
}

table td:nth-child(3),
table td:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.08);
}

thead button {
  font-family: "Rock Salt", cursive;
  color: #b4d179;
  font-size: 1rem;
  background-color: #444444;
}
thead button.ascending::after {
  content: " \2B07";
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: "\2B06";
  display: inline-block;
  margin-left: 1em;
}

.page {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.number {
  background-color: #444444;
  border-radius: 10%;
  color: white;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}
.myTable {
  position: relative;
  margin-top: 5rem;
}
.myTable input {
  height: 2.5rem;
  margin-left: 1rem;
  width: 65%;
  background-color: #6c831285;
  color: white;
}
.myTable label {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 3%;
  top: 8%;
  width: 15%;
  height: 2.5rem;
  background-color: #444444;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
/*For test
.ag-theme-alpine {
  
  --ag-foreground-color: #444444;
}

.ag-theme-alpine .ag-header-cell-label {
  font-style: italic;
  background-color: #708819b7;
  color: #444444;
  font-size: 1rem;
  padding: 1rem;
}
.ag-header-cell {
  background-color: #444444ed;
}
*/
