.banner {
  width: 80%;
  height: 18vh;

  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.banner img {
  height: 18rem;
  position: relative;
  bottom: 8rem;
}
.banner h2 {
  margin-right: 5rem;
}

@media (max-width: 900px) {
  .banner img {
    height: 20rem;
    position: relative;
    bottom: 5rem;
  }
}
@media (max-width: 600px) {
  .banner {
    display: block;
  }
  .banner img {
    position: inherit;
  }
}
