.banner {
  width: 80%;
  height: 18vh;

  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.banner img {
  height: 150%;
  position: relative;
  bottom: 8rem;
}
.banner h2 {
  margin-right: 5rem;
}

@media (max-width: 900px) {
  .banner img {
    height: 120%;
    position: relative;
    bottom: 5rem;
  }
}
@media (max-width: 1200px) {
}
